body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: whitesmoke;
    margin-left: 25%;
    margin-right: 25%;
}

#tablero {
    background-color: white;
    float: center;
    width: 420px;
    height: 420px;
}

.cuadro {
    width: 200px;
    height: 200px;
}

#fila-arriba {
    position: relative;
    width: 420px;
    height: 210px;
    top: 0px;
}

#fila-abajo {
    position: relative;
    width: 420px;
    height: 210px;
    bottom: 10px;
}

#rojo {
    background-color: red;
    float: left;
    margin: 0px 0px 0px 0px;
}

#verde {
    background-color: green;
    margin: 0px 0px 0px 10px;
    float: right;
}

#azul {
    background-color: blue;
    float: left;
    margin: 10px 0px 0px 0px;
}

#amarillo {
    background-color: yellow;
    float: right;
    margin: 10px 0px 0px 0px;
}

.seleccionado {
    width: 210px;
    height: 210px;
    opacity: 0.5;
}

.turno {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

#start {
    margin-top: 10px;
    padding: 10px;
    width: 420px;
}